<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>716452208003-a2o5fn04tl599t1e7n8d3fc8p4ckdqg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716452208003-a2o5fn04tl599t1e7n8d3fc8p4ckdqg0</string>
	<key>API_KEY</key>
	<string>AIzaSyAKsJ5QyY4f146GbzoXqpwymr0G8-1RDcg</string>
	<key>GCM_SENDER_ID</key>
	<string>716452208003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ayudante.FirebasePracticeProject</string>
	<key>PROJECT_ID</key>
	<string>fir-practiceproject</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practiceproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:716452208003:ios:f151c917098539f6</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practiceproject.firebaseio.com</string>
</dict>
</plist>